:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f5f7fa;
  --tertiary-bg: #e0e6ed;

  --primary-text: #1e1e2f;
  --secondary-text: #4a4a68;

  --brand: #2b4c7e;
  --brand-hover: #3c5d9c;

  --link: #365e91;
  --link-hover: #5c85c1;

  --app-max-width: 1140px;
}

